
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
    <head th:replace="common/header :: common-header" />

    <body style="background-color: #606060">
        <div th:replace="common/header :: navbar" />

        <div class="container">

            <hr style="margin-top: -5px; position: absolute; width: 90%; height: 3px; background-color: #4d0000; z-index: -1;" />
            <div th:if="${!shippingServiceAvailable}" class="warning alert-warning">
                Shipping service is unavailable right now, please try again later.
            </div>
            <div th:if="${error}" class="warning alert-warning">
                Something went wrong please try again later.
            </div>
            <div th:if="${missingRequiredField}" class="warning alert-warning">
                Missing required field!
            </div>
            <div class="row" style="margin-top: 10px;">

                <!--Left panel-->
                <div class="col-xs-4">
                    <!--<form th:action="@{/checkOut}" method="post">-->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!--                            <div th:if="${shippingServiceAvailable}">
                                                            <button type="submit" class="btn btn-warning btn-block">Place your order</button>
                                                            <p style="font-size: smaller;">By placing your order, you agree to ours store<a href="">privacy</a> notice and<a href="#"> conditions</a> of use.</p>
                                                        </div>-->
                            <hr />
                            <h3>Order Summary</h3>
                            <div class="row">
                                <div class="col-xs-7 text-left">
                                    Total before tax:
                                </div>
                                <div class="col-xs-5 text-right">
                                    $<span th:text="${shoppingCart.grandTotal}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 text-left">
                                    Estimated tax:
                                </div>
                                <div class="col-xs-5 text-right">
                                    $<span th:with="tax=${shoppingCart.grandTotal*0.06}" th:text="${#numbers.formatDecimal(tax, 0, 2)}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 text-left">
                                    Estimated shipping cost:
                                </div>
                                <div class="col-xs-5 text-right">
                                    <!--                                        $<span th:text="${shippingCost}"></span>-->
                                    $<span id="shippingCost" name ="shippingCost" th:text="${shippingStandardCost}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 text-left">
                                    <h3 style="color: darkred;"><strong>Order Total: </strong></h3>
                                </div>
                                <div class="col-xs-5 text-right">
                                    <h3><strong style="color: darkred;">$<span id ="grndTotal" name="grandTotal" th:with="total=${shoppingCart.grandTotal + shippingStandardCost + shoppingCart.grandTotal*0.06}" th:text="${#numbers.formatDecimal(total, 0, 2)}"></span></strong></h3>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/pay}" method="post">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="shippingMethod" value="standardShipping" onclick="showStandardPrice()" checked="checked"/>
                                    Ground Shipping
                                </label>
                                <label>
                                    <input type="radio" name="shippingMethod" value="premiumShipping" onclick="showPremiumPrice()"/>
                                    Premium Shipping
                                </label>
                                <div th:if="${shippingServiceAvailable}">
                                    <input hidden="hidden" name="total" th:with="total=${shoppingCart.grandTotal + shippingStandardCost + shoppingCart.grandTotal*0.06}" th:value="${#numbers.formatDecimal(total, 0, 2)}"/>
                                    <button type="submit" class="btn btn-primary btn-block">PayPal Payment</button>    
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Right panel-->
            <div class="col-xs-8">
                <form th:action="@{/checkOut}" method="post">
                    <div th:if="${missingRequiredField}">
                        <h5 class="alert alert-warning">There are some fields missing. Field with * is required.</h5>
                    </div>
                    <div class="panel-group" id="accordion">

                        <!--1. Shipping Address-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#shippingInfo">1. Shipping Address</a>
                                </h4>
                            </div>

                            <div id="shippingInfo" class="panel-collapse collapse" th:classappend="${classActiveShipping}? 'in'">

                                <div class="panel-body">
                                    <!--                                        <table class="table" th:if="${not emptyShippingList}">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Available Shipping Address</th>
                                                                                        <th>Operations</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr th:each="userShipping : ${userShippingList}">
                                                                                        <td th:text="${userShipping.userShippingStreet}+' '+${userShipping.userShippingCity}+' '+${userShipping.userShippingZipcode}"></td>
                                                                                        <td><a th:href="@{/setShippingAddress(userShippingId=${userShipping.id})}">use this address</a></td>
                                    
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>-->

                                    <div class="form-group">
                                        <label for="shippingName"> *Name</label>
                                        <input type="text" class="form-control" id="shippingName" placeholder="Receiver Name" name="shippingAddressName" th:value="${shippingAddress.shippingAddressName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="shippingStreet"> *Street Address</label>
                                        <input type="text" class="form-control" id="shippingStreet" placeholder="Receiver Street Address" name="shippingAddressStreet" th:value="${shippingAddress.shippingAddressStreet}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="shippingCountry"> *Country</label>
                                        <input type="text" class="form-control" id="shippingCountry" placeholder="Receiver Country" name="shippingAddressCountry" th:value="${shippingAddress.shippingAddressCountry}"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="shippingCity">* City</label>
                                                <input type="text" class="form-control" id="shippingCity" placeholder="Shipping City" th:name="shippingAddressCity" required="required" th:value="${shippingAddress.shippingAddressCity}"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="shippingZipcode">* Zipcode</label>
                                                <input type="text" class="form-control" id="shippingZipcode" placeholder="Shipping Zipcode" th:name="shippingAddressZipcode" required="required" th:value="${shippingAddress.shippingAddressZipcode}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#accordion" class="btn btn-warning pull-right" href="#paymentInfo">Next</a>
                                </div>
                            </div>
                        </div>

                        <!--Payment Informations-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#paymentInfo">

                                        2.Payment Information

                                    </a>
                                </h4>
                            </div>
                            <div id="paymentInfo" class="panel-collapse collapse" th:classappend="${classActivePayment}? 'in'">
                                <div class="panel-body">
                                    <!--                                        <table class="table" th:if="${not emptyPaymentList}">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Available Credit Card</th>
                                                                                        <th>Operations</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr th:each="userPayment : ${userPaymentList}">
                                                                                        <td th:text="${userPayment.cardName}"></td>
                                                                                        <td><a th:href="@{/setPaymentMethod(userPaymentId=${userPayment.id})}">use this payment</a></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>-->

                                    <!--Credit Card Information-->
                                    <div class="row">
                                        <div class="coll-xs-12">
                                            <img th:src="@{image/creditcard.png}" class="img-responsive"/>
                                            <br/>
                                            <div class="form-group">
                                                <label for="cardType">* Select Cart Type: </label>
                                                <select class="form-control" id="cardType" name="type" th:value="${payment.type}">
                                                    <option value="visa">Visa</option>
                                                    <option value="mastercart">Mastercard</option>
                                                    <option value="discovery">Discovery</option>
                                                    <option value="amex">American Express</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="cardHolder">* Card Holder Name:</label>
                                                <input type="text" class="form-control" id="cardHolder" required="required" placeholder="Card Holder Name" th:name="holderName" th:value="${payment.holderName}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="cardNumber">* Card Number:</label>
                                                <div class="input-group">
                                                    <input type="tel" class="form-control" id="cardNumber" required="required" placeholder="Valid Card Number" th:name="cardNumber" th:value="${payment.cardNumber}"/>
                                                    <span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <div class="form-group">
                                                <label>*Expiration Date</label>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <select class="form-control" name="expiryMonth" required="required" th:value="${payment.expiryMonth}">
                                                            <option disabled="disabled">-- Month --</option>
                                                            <option value="01">Jan (01)</option>
                                                            <option value="02">Feb (02)</option>
                                                            <option value="03">Mar (03)</option>
                                                            <option value="04">Apr (04)</option>
                                                            <option value="05">May (05)</option>
                                                            <option value="06">Jun (06)</option>
                                                            <option value="07">Jul (07)</option>
                                                            <option value="08">Aug (08)</option>
                                                            <option value="09">Sep (09)</option>
                                                            <option value="10">Oct (10)</option>
                                                            <option value="11">Nov (11)</option>
                                                            <option value="12">Dec (12)</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <select class="form-control" name="expiryYear" th:value="${payment.expiryYear}">
                                                            <option disabled="disabled">-- Year --</option>
                                                            <option value="2019">2019</option>
                                                            <option value="2020">2020</option>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                            <option value="2023">2023</option>
                                                            <option value="2024">2024</option>
                                                            <option value="2025">2025</option>
                                                            <option value="2026">2026</option>
                                                            <option value="2027">2027</option>
                                                            <option value="2028">2028</option>
                                                            <option value="2029">2029</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="form-group">
                                                <label for="cardCVC">CVC Code</label>
                                                <input id="cardCVC" type="tel" class="form-control" name="cvc" placeholder="CVC" th:name="cvc" th:value="${payment.cvc}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Billing Address-->
                                    <div class="checkbox">
                                        <label>
                                            <input id ="theSameAsShippingAddress" type="checkbox" name="billingSameAsShipping" value="true"/> The same as shipping address
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="billingName">* Name</label>
                                        <input type="text" class="form-control billingAddress" id="billingAddressName" placeholder="Receiver Name" th:name="billingAddressName" required="required" th:value="${billingAddress.billingAddressName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="billingAddress">* Street Address</label>
                                        <input type="text" class="form-control billingAddress" id="billingAddressStreet" placeholder="Street Address" th:name="billingAddressStreet" required="required" th:value="${billingAddress.billingAddressStreet}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="billingCountry"> *Country</label>
                                        <input type="text" class="form-control" id="billingCountry" placeholder="Receiver Country" name="billingAddressCountry" th:value="${billingAddress.billingAddressCountry}"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="billingCity">* City</label>
                                                <input type="text" class="form-control billingAddress" id="billingCity" placeholder="Billing City" th:name="billingAddressCity" required="required" th:value="${billingAddress.billingAddressCity}"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="billingZipcode">* Zipcode</label>
                                                <input type="text" class="form-control billingAddress" id="billingZipcode" placeholder="Billing Zipcode" th:name="billingAddressZipcode" required="required" th:value="${billingAddress.billingAddressZipcode}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <a data-toggle="collapse" data-parent="#accordion" class="btn btn-warning pull-right" href="#reviewItems">Next</a>
                                </div>
                            </div>
                        </div>

                        <!--3. Review Items and Shipping-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#reviewItems">
                                        3. Review Items and Shipping
                                    </a>
                                </h4>
                            </div>
                            <div id ="reviewItems" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4>Chose your shipping method: </h4>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="shippingMethod" value="standardShipping" onclick="showStandardPrice()" checked="checked"/>
                                            Ground Shipping
                                        </label>
                                        <label>
                                            <input type="radio" name="shippingMethod" value="premiumShipping" onclick="showPremiumPrice()"/>
                                            Premium Shipping
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8"><h4>Products</h4></div>
                                        <div class="col-xs-2"><h4>Price</h4></div>
                                        <div class="col-xs-2"><h4>Qty</h4></div>
                                    </div>

                                    <!--Display products in cart-->
                                    <div class="row" th:each="cartItem: ${cartItemList}">

                                        <hr/>
                                        <div class="col-xs-2">
                                            <a th:href="@{/watchDetails(id=${cartItem.watch.id})}">
                                                <img class="img-responsive" th:src="@{/image/watch/}+${cartItem.watch.id}+'_a.png'" style="width: 70px; height: 100px;"/>
                                            </a>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="center-block">
                                                <span th:text="${cartItem.watch.brand}+' '+${cartItem.watch.name}"></span>
                                            </div>

                                            <div class="center-block">
                                                <p th:if="${cartItem.watch.inStockNumber}&gt; 10" style="color: green;">In Stock</p>
                                                <p th:if="${cartItem.watch.inStockNumber}&lt; 10 and ${cartItem.watch.inStockNumber}&gt; 0" style="color: orangered;">Only <span th:text="${cartItem.watch.inStockNumber}"></span> In Stock</p>
                                                <p th:if="${cartItem.watch.inStockNumber}==0" style="color: darkred;">Out of Stock</p>
                                            </div>
                                        </div> 
                                        <div class="col-xs-2">
                                            <h5 style="color: #db3208; font-size: large;">$<span th:text="${cartItem.watch.ourPrice}" th:style="${cartItem.watch.inStockNumber}==0? 'text-decoration: line-through' : ''"></span></h5>
                                        </div>
                                        <div class="col-xs-2">
                                            <h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr/>
                                        <h4 class="col-xs-12 text-right"><strong style="font-size: large;">Total price(<span th:text="${#lists.size(cartItemList)}"></span> items:)</strong><span style="color: #db3208; font-size: large;">$<span th:text="${shoppingCart.grandTotal}"></span></span></h4>
                                        <br /><br />
                                        <div th:if="${shippingServiceAvailable}">
                                            <button type="submit" class="btn btn-warning btn-block">Place your order</button>
                                            <p style="font-size: smaller;">By placing your order, you agree to ours store<a href="">privacy</a> notice and<a href="#"> conditions</a> of use.</p>                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- end of container -->

<div th:replace="common/header :: footer"/> 
<div th:replace="common/header :: body-bottom-scripts" />

</script>-->
<script th:inline="javascript">
    function showStandardPrice() {
        /*<![CDATA[*/
        var standardPrice = /*[[${shippingStandardCost}]]*/ 'default';
        var price = /*[[${shoppingCart.grandTotal}]]*/'default';
        var tax = price * 0.06;
        console.log(tax);
        console.log(standardPrice + price + tax);
        /*]]>*/
        document.getElementById('shippingCost').innerHTML = standardPrice.toString();
        document.getElementById('grndTotal').innerHTML = (standardPrice + price + tax).toString();
    }
</script>
<script th:inline="javascript">

    function showPremiumPrice() {
        /*<![CDATA[*/
        var premiumPrice = /*[[${shippingPremiumCost}]]*/ 'default';
        var price = /*[[${shoppingCart.grandTotal}]]*/'default';
        var tax = price * 0.06;
        console.log(tax);
        console.log(premiumPrice + price + tax);
        /*]]>*/
        document.getElementById('shippingCost').innerHTML = premiumPrice.toString();
        document.getElementById('grndTotal').innerHTML = (premiumPrice + price + tax).toString();

    }
</script>
</body>
</html>
