
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
    <head th:replace="common/header :: common-header" />

    <body style="background-color: #606060">
        <div th:replace="common/header :: navbar" />

        <div class="container">

            <div class="col-xs-4" style="padding-top: 20px">
                <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11329.830730821272!2d20.478533219189444!3d44.77147381613767!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xadaf5cff042d3bd0!2sFaculty+of+Organizational+Sciences!5e0!3m2!1sen!2srs!4v1547921003263" width="500" height="200" frameborder="0" style="border:0" allowfullscreen></iframe></p>
            </div>
        </div>
        
        <!-- end of container -->
        <div th:replace="common/header :: footer"/> 
        <div th:replace="common/header :: body-bottom-scripts" />
    </body>
</html>
